.cards-filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background: $clr-base-dk;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
&__title{
margin-left: 30px;
font-size: 18px;
color: $clr-base-lt;
}
&__dropdown{
    cursor: pointer;
    width: 230px;
    height: 25px;
    border-radius: 10px;
}
&__input-search{
    cursor: pointer;
    width: 230px;
    height: 25px;
    border-radius:10px;
}
&__btn-search{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background: $clr-primary-btn;
    color:$clr-ntrl-min;
    &:hover{
        color:$clr-primary-btn;
        background:$clr-ntrl-min;
    }
}

}