.board-of-cards{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    height: 75vh;
    
&__patient-card{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding:5px;
    background:$clr-base-ddk;
    position: relative;
    display: flex;
    font-size:16px;
    flex-direction: column;
    width:250px;
    height:250px;
&__title{
    padding-bottom:15px;
}
&__options{
    position:absolute;
    right: 10px;
}
&__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
&__close-btn{
    cursor: pointer;
    font-size:30px;
    color:$clr-primary-btn;
    &:hover{
       scale: 1.8;
       transition: scale .3s ease;
    }
}
&__edit-btn{
    font-size:25px;
    cursor: pointer;
    &:hover{
        scale: 1.8;
        transition: scale .3s ease;
     }

}
&__more-details{
    display: none;
    background:$clr-base-ddk;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
&__btn-details{
    font-size: 18px;
    margin-top:10px;
    color:$clr-ntrl-min;
    cursor: pointer;
    padding: 15px;
    border-radius:15px;
    background: $clr-primary-btn;
    &:hover{
        background: $clr-ntrl-min;
        color: $clr-primary-btn;
    }
}
&__hidden-filter-card{
    display: none;
}

}
}
.click-on-details{
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    position: absolute;
    padding:5px;
    top:250px;
    left:0;
    width:100%;
}