.header {
  background: $clr-base-ddk;

  &__body {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 100px;
    height: 100px;
    margin-right: 30px;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    color: $clr-base-lt;
  }

  &__title {
    font-size: 30px;
    line-height: 35px;
  }

  &__btn {
    padding: 15px 50px;
    &-create-card{
     padding: 15px 25px;
    }
    &--hidden {
      display: none;
    }
  }
}