.wrapp-loader{
  display: flex;
  justify-content: center;
  position: absolute;
  background:rgba(0, 0, 0, 0.8);
  top:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.loader {
    width: 250px;
    height: 50px;
    
    line-height: 50px;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #ce4233;
    letter-spacing: 0.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }
  .loader::before,
  .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ce4233;
    position: absolute;
    animation: load 0.9s infinite alternate ease-in-out;
  }
  .loader::before {
    top: 0;
  }
  .loader::after {
    bottom: 0;
  }
  
  @keyframes load {
    0% {
      left: 0;
      height: 30px;
      width: 15px;
    }
    50% {
      height: 8px;
      width: 40px;
    }
    100% {
      left: 235px;
      height: 30px;
      width: 15px;
    }
  }