
@media (max-width:2000px) {
    .wrapper{
        max-width: 2000px;
        min-width:901px;
    }
    .modal{
        &__content {
            width: 40%;
            padding: 30px; 
            &__registration-btn{
                width: 60%;
                padding: 15px 25px;
            }
        }
    }
    .board-of-cards{
        &__patient-card{
            width: 300px;
            font-size: 20px;
            &__close-btn{
                font-size: 40px;
            }
            &__btn-details{
                margin-top: 5px;
            }
        }
    }
    

}
@media(max-width:1200px){
    .wrapper{
        max-width: 1200px;
        min-width:901px;
    }
    .cards-filters{
        &__title{
            font-size: 15px;
        }
        &__dropdown{
            width: 150px;
        }
        &__input-search{
            width: 150px;
        }
    }
}
@media (max-width:900px) {
    .wrapper{
        max-width: 900px;
        min-width: 701px;
    }
    .modal{
        &__content {
            width: 60%;
            padding: 25px;
            &__title {
                font-size: 17px;
            }
            & > input {
                padding: 10px 10px;
            }
            &__registration-btn{
                width: 70%;
                margin-top: 15px;
                padding: 15px 45px;
            }
        }
    }
    .header{
    &__btn-create-card{
        font-size: 14px;
    }
    &__logo{
        margin-right: 0px;
    }
     }
    .modal__content__choose__doctor{
        width: 90%;
    }
    .cards-filters{
        &__title{
            margin: 0;
        }
        &__dropdown{
            width: 80px;
        }
        &__input-search{
            width: 150px;
        }
    }
}
@media (max-width:700px){
    .wrapper{
        max-width: 700px;
        min-width: 501px;
    }
    .modal{ 
        &__content {
            width: 60%;
            padding: 20px;
            &__title {
                font-size: 18px;
            }
            & > input {
                padding: 5px 5px;
            }
            &__registration-btn{
                width: 70%;
                margin-top: 10px;
                padding: 20px 40px;
            }
        }
    }

    .cards-filters{
        flex-direction: column;
        flex-wrap: nowrap;
        &__title{
            font-size: 20px;
        }
        &__dropdown{
            width: 250px;
            height: 40px;
        }
        &__input-search{
            width: 250px;
            height: 40px;
        }
        &__btn-search{
            margin-top: 15px;
            padding: 20px 50px;
        }
    }
    .header{
        &__logo{
            margin-right: 15px;
        }
        &__login{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        &__btn-exit{
            padding: 15px 20px;
            font-size: 14px;
        }
        &__btn-create-card{
            padding: 17px 20px;
            font-size: 14px;
        }
        &__title{
            font-size: 20px;
        }
        &__slogan{
            font-size: 17px;
        }
    }
   
}
@media (max-width:500px){
    .wrapper{
        max-width: 500px;
        min-width: 301px;
    }
    .header{
        &__body{
            flex-direction: column;
        }
        &__btn-create-card{
            font-size: 16px;
        }
        &__btn-exit{
            font-size: 16px;
        }
    }
   
    .modal{
        &__content {
            width: 70%;
            padding: 20px;
     
       
    }
}

}