//+

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);

  &__content {
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $clr-ntrl-min;
    border-radius: 12px;
    padding:20px;
    border: 1px solid #888;
    width: 40%;
    min-height: 100px;
    max-height: 800px;
    overflow-y: auto;
    &__close-btn{
      cursor: pointer;
      position: absolute;
      top:10px;
      font-size: 30px;
      left: 90%;
    
    }
    &__title {
      text-align: center;
      margin: 0 0 20px 0;
    }
    & > input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
    }
    &__registration-btn{
      padding: 20px;
      
    }
  }
  &__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > select {
      margin:8px 0;
    }
  }
  &__btn {
    padding: 15px;
    margin-top: 20px;
  }
}
.close-btn {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
 
}
.btn__rewrite{
  cursor: pointer;
  background: $clr-primary-btn;
  color:$clr-ntrl-min;
  padding: 15px 20px;
  margin-top:20px;
}
.btn__rewrite:hover{
  background: $clr-ntrl-min;
  color:$clr-primary-btn;
}
.error-email,.error-password{
  position: relative;
  left: -90px;
  color:rgb(178, 17, 17)

}
.error-create-card{
  color:rgb(178, 17, 17)

}