@import "fonts";
@import "_reset";
@import "_variables";
@import "_header";
@import "_modal";
@import "_cards__filters";
@import "_creating__visiter";
@import "_creatCards";
@import "_loading";
@import "_media";
body {
  font-family: $ff-base;
  font-size: 16px;
  background:$clr-base-lt;
}
.wrapper{
  position: relative;
}
.hidden{
  display: none;
}
.btn {
  border-radius:20px;
  transition: color .3s ease;
  cursor: pointer;
  &--red {
    color: $clr-ntrl-min;
    background: $clr-primary-btn;

    &:hover {
      background: $clr-ntrl-min;
      color: $clr-primary-btn;
    }
  }

  &--grey {
    color: $clr-ntrl-min;
    background: $clr-base-ddk;

    &:hover {
      background: $clr-primary-btn;
      color: $clr-ntrl-min;
    }
  }

}
.board-of-cards__text{
  &--hidden{
    display: none;
  }
}

